<h2>Sistema de gerenciamento de oficina</h2>
<div class="container">
    <a href="/vehicle">
        <button>Veículos</button>
    </a>
    <a href="/workshop">
        <button>Oficinas</button>
    </a>
    <a href="/management">
        <button>Manutenções</button>
    </a>
</div>