<span>Tem certeza que deseja excluir {{workshop.model}}?</span>
<form action="/workshop/delete" method="post">
    <input type="hidden" name="id" value={{workshop._id}}>
    <button type="submit">Sim</button>
    <a href="/workshop">
        Não
    </a>
</form>